* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F7F9FC;
  font-family: 'Source Sans Pro';
  color: black;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
  all: unset;
  cursor: pointer;
}
ul {
  list-style: none;
}
div {
  z-index: 1;
}